@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --swiper-navigation-color: black !important;
    --swiper-navigation-size: 24px !important;
    --swiper-navigation-sides-offset: 0px;
}

@layer utilities {
    .fadeIn {
        opacity: 0;
        animation: fadeInAnimation ease-in-out 500ms forwards;
    }
    .reflect {
        transform: scaleX(-1);
    }
    .inner-curve {
        background: radial-gradient(30% 50% at bottom, transparent 50%, white 0%);
        box-shadow: rgba(0, 0, 0, 0.1) 0 20px 25px -5px, rgba(0, 0, 0, 0.04) 0 10px 10px -5px;
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#nprogress {
    pointer-events: none;
}
#nprogress .bar {
    background: #F1CF69;
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
}
#nprogress .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #F1CF69, 0 0 5px #F1CF69;
    opacity: 1.0;
    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}